.forgotPwBox {
    display: flex;
    flex-direction: column;     
    min-height: 100vh;
    
    align-items: center;
    align-content: space-between;
   
  }
  
  .forgotPass {
      /* display: flex;
      justify-content: center;
      border-radius: 25px;
      background-color: rgb(107, 112, 116);
      flex-direction: column;
      margin: 45px auto;
      padding: 20px;
      align-items: center;
      width: 100%; 
      max-width: 500px; */
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: center;
      width: 420px;
      background-color: rgb(107, 112, 116);
      color: rgb(3, 3, 3);
      padding: 15px;
      border-radius: 25px;
      margin: 75px auto 75px auto; 
  }
  
  h1, h2 {
    margin-top: 25px;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 30px;
    font-weight: bolder;
  }

  .forgotPass button {
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    background-color: #F4595B;
    border-radius: 8px;
    border-bottom: 4px solid #C24648;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 2px;
    margin-top: 20px;
  }
  
  
  .forgotPass button:hover {
    background-color: #FF7375;
    border: none;
    border-radius: 8px;
    border-bottom: 4px solid #C24648;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 2px;
  }
  
  
  .forgotPass button:active {
    background-color: #C24648;
    border: none;
    border-radius: 8px;
    border-bottom: 4px solid #C24648;
    color: #CCC;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Oxygen', sans-serif;
    letter-spacing: 2px;
  }

  #emailBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%; 
      padding: 15px; 
      border-radius: 5px; 
      box-sizing: border-box; 
  }
  
  #emailBox input {
      width: 100%;
      padding: 10px;
      margin-top: 10px;
      border-radius: 5px;
      box-sizing: border-box; 
      color: black;
    }