body, html {
  height: 100%;
  margin: 0;
}

.container34{
  display: flex;
  flex-direction: column;     
  min-height: 100vh;
  
  align-items: center;
  align-content: space-between;
}

.loginBox {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 420px;
  background-color: rgb(107, 112, 116);
  color: rgb(3, 3, 3);
  padding: 10px;
  border-radius: 25px;
  margin: 75px auto 75px auto; 
}



.container34 button {
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  background-color: #F4595B;
  border-radius: 8px;
  border-bottom: 4px solid #C24648;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;
}


.container34 button:hover {
  background-color: #FF7375;
  border: none;
  border-radius: 8px;
  border-bottom: 4px solid #C24648;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;
}


.container34 button:active {
  background-color: #C24648;
  border: none;
  border-radius: 8px;
  border-bottom: 4px solid #C24648;
  color: #CCC;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;
}
  
  
.container34 input {
  display: block;
  margin: 10px auto;
  padding: 5px 5px;
  font-size: 20px;
  border-radius: 5px;
  width: 300px;
}
  
.container34 button, input[type="submit"] {
  margin: 20px;
  padding: 10px auto;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
}
.rmmrMe {
  display: flex;
  flex-direction: row;
  align-items: center; 
  /* gap: 2px;  */
  width: 300px;
}
/* #checkBox {
  margin: 0; 
} */
/* .rmmrMe p {
  margin: 0; 
  padding: 0;
} */
.rmmrMe a {
  margin-left: 45%; 
  text-decoration: none; 
  
}

.bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.bottom a{
  margin: 10px;
  text-decoration: none; 
 
}
  
a:hover {
  color: white;
}

.errorMessage {
  background-color: #f8d7da; 
  color: #721c24; 
  border: 1px solid #f5c6cb; 
  padding: 10px; 
  margin: 10px 0; 
  border-radius: 5px; 
  font-weight: bold; 
  /* display: flex; 
  align-items: center;  */
  justify-content: space-between; 
}


.errorMessage button {
  background-color: transparent; 
  border: none; 
  color: #721c24; 
  cursor: pointer; 
  font-weight: bold; 
  margin-left: 10px; 
}

header{
  width: 100%;
}

#authorized{
  flex-grow: 1;
  display: flex;
  justify-self: center;
  align-items: center;
}
footer {
  /* margin-top: auto;            */
  background-color: #f1f1f1; 
  padding: 20px;              
  text-align: center;      
  
}
