
body, html {
  height: 100%;
  margin: 0;
}

.container34{
  display: flex;
  flex-direction: column;     
  min-height: 100vh;
  justify-self: center;
  align-items: center;
}

.loginBox {

  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;

  width: 420px;
  background-color: rgb(107, 112, 116);
  color: rgb(3, 3, 3);
  padding: 10px;
  border-radius: 25px;
  margin: 75px auto 75px auto; 

}

h1, h2 {
  margin-top: 25px;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 30px;
  font-weight: bolder;
}



button {
  -webkit-transition-duration: 0.1s; /* Safari */
  transition-duration: 0.1s;
  background-color: #F4595B;
  border-radius: 8px;
  border-bottom: 4px solid #C24648;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;
}


button:hover {
  background-color: #FF7375;
  border: none;
  border-radius: 8px;
  border-bottom: 4px solid #C24648;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;
}


button:active {
  background-color: #C24648;
  border: none;
  border-radius: 8px;
  border-bottom: 4px solid #C24648;
  color: #CCC;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
  letter-spacing: 2px;
}


#authorized{
  flex-grow: 1;
  display: flex;
  justify-self: center;
  align-items: center;
  
}


input {
  display: block;
  margin: 10px auto;
  padding: 5px 5px;
  font-size: 20px;
  border-radius: 5px;
  
}


button, input[type="submit"] {
  margin: 20px;
  padding: 10px auto;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
}

.rmmrMe {
  display: flex;
  flex-direction: row;
  align-items: center; 
  gap: 10px; 
}

#checkBox {
  margin: 0; 
}

.rmmrMe p {
  margin: 0; 
  padding: 0;
}

.rmmrMe a {
  margin-left: auto; 
  text-decoration: none; 
  
}

.bottom{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.bottom a{
  margin: 10px;
  text-decoration: none; 
 
}


a:hover {
  color: white;
}

header{
  width: 100%;
}

footer {
  margin-top: auto;           
  background-color: #f1f1f1; 
  padding: 20px;              
  text-align: center;      
    
}

