.signUpWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 75px auto 75px auto;                   
    background-color: rgb(107, 112, 116);
    color: black;

    padding: 30px;
    width: 80%;
    max-width: 800px;
    border-radius: 25px;
}





.formBox {
    display: flex;
    flex-direction: column;

    width: 100%;


}


.inputWrapper {
    display: flex;
    align-items: center;
    margin-top: 20px;

}

.formBox label {
    font-size: 20px;
    width: 35%;                
    text-align: left;         
    color: #f0eaea; 
    padding-right: 10px;

}

.inputWrapper input {
    flex: 1;                   
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 18px;     

}


.formBox button {   
    width: 40%;                  
    align-self: center;
}
